* {
  padding: 0;
  margin: 0;
}
.autocomplete {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.autocomplete input {
  margin-top: 30px;
  width: 70%;
  padding: 5px;
}
